* {
	box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

button {
    outline: none;
    border: 0;
    background-color: unset;
    color: unset;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

input, textarea {
    outline: none;
    border: 0;
}

tr {
    outline: none;
}